<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale-1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">   
        <link href="../static/css/project2_style.css" rel="stylesheet">
        <script src="../static/java/project2_button.js"></script>
        <title> My Story </title>
    </head>
    <body>
        <header>
            <img src="../static/images/project2/anil_running.jpg">
            <h1>Anil's Running Blog</h1>
            <ul>  
                <li><a href="/main">HOME ALL PROJECTS</a></li> 
                <li><a href="#">About Me</a></li>
                <li><a href="#">Training Plan</a></li>
                <li><a href="#">Upcoming Races</a></li>
            </ul>
        </header>
        <article>
            <h2>My Running Journey</h2>
            <p>
                I started running 3 years ago because I wanted to run away. Run away from all the stress, uncertainty, fear and anxiety that used to consume me everyday. 
                Back then I was using all kinds of unhealthy habbits to fight with my deamons. When I first started to run I didn't think that it was a group sport, I couldn't be more wrong! 
                In the beginning I tried to run around the Bay in Rozelle. Then I attended to my firt running event, Coles Classic Sun Run 10km.
                From there in 8 months I kept increasing my running distance all the way to running my first marathon. However the real life changing event in my running journey started When
                I joined to a running club and became a part of the Sydney Running Community...
            </p>
            <button onclick="onclick_function_1()">Like</button>
            <p id="likebutton_1"></p> 
        </article>
        <article>
            <h2>My Training Routine</h2>
            <p>
                I train with a running group three days a week; and I go to the Blue Mountains eve
                weekend with my running friends to do our weekly long run. Our weekly runs vary anywhere from 20km to 40km 
                depending on the event that we are training for at that time. 
            </p>
            <button onclick="onclick_function_2()">Like</button>
            <p id="likebutton_2"></p> 
        </article>
        <article>
            <h2>Upcoming Events</h2>
            <p>
                I have been training for Ultra Trail Australia 50km trail race for almost 2 years now. Because of COVID the race
                got canceled last year. You can learn more about the event here: <a href="https://www.ultratrailaustralia.com.au/" class="button">Ultra Trail Australia</a>
            </p> 
            <button onclick="onclick_function_3()">Like</button>
            <p id="likebutton_3"></p> 
        </article>     
    </body>