<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/traficlights_style.css">
    <script src="../static/java/traficlights.js"></script>
    <title> Trafic Lights</title>
</head>
<body>
    <div id="main_button">
        <a href="/main" class="button">HOME</a>
    </div>
    <div id="controlPanel">
        <h1 id="stopButton" class="button">Stop</h1>
        <h1 id="slowButton" class="button">Slow</h1>
        <h1 id="goButton" class="button">Go</h1>
    </div>
    <div id="traffic-light">
        <div id="stopLight" class="bulb"></div>
        <div id="slowLight" class="bulb"></div>
        <div id="goLight" class="bulb"></div>
    </div>  
    <script>
        document.getElementById('stopButton').onclick = illuminateRed;
        document.getElementById('slowButton').onclick = illuminateYellow;
        document.getElementById('goButton').onclick = illuminateGreen;
    </script> 
</body>
