header {
    text-align: center;
    background: url("../images/project2/project2_background.jpg");
    background-size: cover;
    color: white;
}

ul {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}

li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

a {
    color: white;
}

a.button {
    color: blue;
}

h1 {
    font-size: 70px;
}

img {
    border: 4px solid #ddd;
    border-radius: 50px;
    width: 250px;
    margin-top: 40px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}

@media (max-width: 500px) {
    h1 {
      font-size: 36px;
    }
    li {
      display: block;
      padding: 5px;
    }
  }