h1 {
	text-align: center;
	}
p {
	text-align: center;
	font-size: 22px;
	color:white;
	background-color: black;
	opacity: 0.6;
	display: inline;
}

body {
	text-align: center;
	background-image: url("../images/project1/soh_background_image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-family: helvetica;
	font-size: 22px;
}

img {
	border: 2px solid #ddd;
	border-radius: 50%;
	width: 250px;
	}

input {
	border: 0;
	padding: 10px;
	font-size: 18px;
}

input[type="submit"] {
	background: red;
	color: white;
}
a.button {
	font-weight: bold;
	width: 90px;
	margin-top: 50px;
	background: white;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	background: linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,.4));
    background: -moz-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,.4));
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,.4));
    text-decoration: none;
    color: initial;
}